
=render 'layouts/side_bar'
    
.col-lg-10
  .panel.panel-primary
    .panel-heading 
      Lineas de Credito
    .panel-body
      = form_for(@credit_line, url: credit_line_path(@account, @credit_line), method: :patch, html: { class: "form-horizontal" }) do |f| 
        %fieldset
          %legend 
            = "Editar Linea de Credito: #{@credit_line.name}"
          =render 'credit_lines/form', f:f
