.col-lg-2
  .list-group
    %a.list-group-item{:href => account_path(@account)}
      = "Información General"
    %a.list-group-item{:href => credit_lines_path(@account)}
      = "Lineas de Crédito"
    %a.list-group-item{:href => credit_plans_path(@account)}
      = "Solicitudes de Crédito"